@{
    ViewBag.Title = "Tietoja yrityksestä";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tuotamme ammatillista koulutusta useilta eri aloilta</p>
<a href="https://www.careeria.fi">Oppilaitoksen verkkosivut</a>

<p>@ViewBag.Herja</p>
