@{
    ViewBag.Title = "Yhteystiedot";
    ViewBag.Keksinto = "Keksin uuden jutun";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>User: @ViewBag.UserName</p>

<address>
    Hevosenkengänkatu 2<br />
    Porvoo<br />
    <abbr title="Puhelin">P:</abbr>
    045-7449888
</address>
<h5>@ViewBag.Keksinto</h5>
<address>
    <strong>Tuki:</strong>   <a href="mailto:juha-ope@student.careeria.fi">juha-ope@student.careeria.fi</a><br />
    <strong>Myynti:</strong> <a href="mailto:info@careeria.fi">info@careeria.fi</a>
</address>